.btn-container{
    display:flex;
}

.btn-container__delete{
    margin-left:auto;
}

.delete-btn, .edit-btn{
    border: none;
    background: none;
    cursor: pointer;
}

.delete-btn__img, .edit-btn__img{
    width: 25px;
}
