.form-container{
    display:flex;
    flex-direction: column;
    margin: auto;
    max-width: 600px;
    border: solid black 2px;
}

.form-container h2{
    color: #b0c1fd;
}

label{
    font-weight: bold;
}

#journalEntry{
    vertical-align: top;
    width: 95%;
}

.journalEntry{
    border: solid black 2px;
    padding: 5px;
    margin: 4px;
    display: flex;
    flex-direction: column;
    background-color: #b0c1fd;
}

.form-item{
    border: solid black 2px;
    padding: 5px;
    margin: 4px;
    display: flex;
    width: 150px;
    flex-direction: column;
    background-color: #b0c1fd;
}

.journalSubmit{
    margin: auto;
}   

#journalSubmit{
    padding: 5px;
    margin: 5px;
    text-decoration: none;
}